
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 2.4.0
    </div>
    <strong>Bản quyền &copy; 2022 <a href="https://adminlte.io">Thủy Tiên</a>.</strong> HTTShop
</footer>